/*
Syntax error: Invalid CSS after "	font:": expected pseudoclass or pseudoelement, was " 2em bold 'Arial'"
        on line 9 of /Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss

4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
5: 
6: @import "compass/reset";
7: 
8: h1
9: 	font: 2em bold 'Arial'

Backtrace:
/Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss:9
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:821:in `expected'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:796:in `expected'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:779:in `expr!'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:555:in `pseudo'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:451:in `simple_selector_sequence'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:432:in `_selector'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:409:in `selector'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:398:in `selector_sequence'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:315:in `ruleset'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:339:in `block_child'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:333:in `block_contents'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:57:in `stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/scss/parser.rb:26:in `parse'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/engine.rb:283:in `_to_tree'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/engine.rb:262:in `_render'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/engine.rb:234:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/haml/util.rb:320:in `silence_haml_warnings'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/engine.rb:234:in `render'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:311:in `update_stylesheet'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:172:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:172:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:170:in `each'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/compiler.rb:170:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin.rb:80:in `update_stylesheets'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin.rb:53:in `check_for_updates'
/usr/local/lib/ruby/gems/1.8/gems/haml-edge-3.1.79/lib/sass/plugin/rack.rb:40:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/head.rb:14:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/flash.rb:182:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:32:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:12:in `cache'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.4/lib/active_record/query_cache.rb:31:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activerecord-3.0.4/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-3.0.4/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/rack/logger.rb:13:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/usr/local/lib/ruby/gems/1.8/gems/activesupport-3.0.4/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/usr/local/lib/ruby/gems/1.8/gems/actionpack-3.0.4/lib/action_dispatch/middleware/static.rb:30:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:168:in `call'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:77:in `send'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/application.rb:77:in `method_missing'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/rack/log_tailer.rb:14:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/usr/local/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/usr/local/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/usr/local/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/usr/local/lib/ruby/1.8/webrick/server.rb:162:in `start'
/usr/local/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/usr/local/lib/ruby/1.8/webrick/server.rb:95:in `start'
/usr/local/lib/ruby/1.8/webrick/server.rb:92:in `each'
/usr/local/lib/ruby/1.8/webrick/server.rb:92:in `start'
/usr/local/lib/ruby/1.8/webrick/server.rb:23:in `start'
/usr/local/lib/ruby/1.8/webrick/server.rb:82:in `start'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/usr/local/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/commands/server.rb:65:in `start'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:30
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:27:in `tap'
/usr/local/lib/ruby/gems/1.8/gems/railties-3.0.4/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	font:\": expected pseudoclass or pseudoelement, was \" 2em bold 'Arial'\"\A         on line 9 of /Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss\A \A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: \A 8: h1\A 9: 	font: 2em bold 'Arial'"; }
