/*
Syntax error: Invalid CSS after "	font:": expected pseudoclass or pseudoelement, was " 2em bold 'Arial'"
        on line 9 of /Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss

Backtrace:
/Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss:9
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:838:in `expected'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:813:in `expected'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:796:in `expr!'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:572:in `pseudo'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:468:in `simple_selector_sequence'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:449:in `_selector'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:426:in `selector'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:415:in `selector_sequence'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:332:in `ruleset'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:356:in `block_child'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:350:in `block_contents'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/scss/parser.rb:26:in `parse'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/engine.rb:213:in `_to_tree'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/engine.rb:197:in `_render'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/engine.rb:169:in `render'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/haml/util.rb:294:in `silence_haml_warnings'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/lib/sass/engine.rb:169:in `render'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `compile'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `run'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:67:in `perform'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/path.rb:38:in `delete'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:27:in `deleted'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:27:in `each'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:27:in `deleted'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/state/directory.rb:14:in `refresh'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:15:in `add_handler'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `each'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:14:in `add_handler'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `call'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/rubycocoa/fsevents.rb:107:in `initialize'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `call'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `CFRunLoopRun'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/backends/fsevents.rb:27:in `run'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/rzolin/.gem/ruby/1.8/gems/haml-3.0.24/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/exec/switch_ui.rb:175:in `do_command'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/exec/switch_ui.rb:35:in `perform!'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/lib/compass/exec/switch_ui.rb:18:in `run!'
/Users/rzolin/.gem/ruby/1.8/gems/compass-0.10.6/bin/compass:26
/Users/rzolin/.gem/ruby/1.8/bin/compass:19:in `load'
/Users/rzolin/.gem/ruby/1.8/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	font:\": expected pseudoclass or pseudoelement, was \" 2em bold 'Arial'\"\A         on line 9 of /Users/rzolin/Projects/Ruby/sample_app/app/stylesheets/screen.scss"; }
