%h1= "Sample App - " + @title
%p 
	:markdown
		Get help on Ruby on Rails Tutorial at the [Rails Tutorial help page](http://railstutorial.org/help)  
		To get help on this sample app, see the	[Rails Tutorial book](http://railstutorial.org/book).
